{% load static %}

<head>
    <link rel="stylesheet" href="../static/style.css">
</head>

<!DOCTYPE html>
<html>
   <title>
       Recipe App - Logout
   </title>

   <body>
        <header>
            <h1>Farewell!</h1>
        </header>
        <p class="welcome">
            You have successfully logged out.
        </p>
        <div class="recipes_button">
            <button type="button" onclick="window.location.href='/'">Home</button>
            <button style="margin-left: 10px" type="button" onclick="window.location.href='/login'">Log back in</button>
        </div>
   </body>
</html>